*
	box-sizing: border-box
img
	width: 100%
h1,h2,h3,p
	margin: 0
	font-weight: normal
.slide
	height: 100vh
	min-height: 470px
	display: table
	table-layout: fixed
	width: 100%
	&__item
		display: table-cell
		vertical-align: middle 
		width: 100%
	&-footer
		height: auto
		min-height: auto
body
	+bold